<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace는 mapper interface의 경로와 동일하게 해줘야 함. -->
<mapper namespace="db.mybatis.MybatisDAO">
	<!-- 
		insert into orderList values(1, 1, 'admin', 'admin',CURRENT_TIMESTAMP);
		insert into orderList values(2, 2, 'admin', 'admin',CURRENT_TIMESTAMP);
		insert into orderList values(3, 3, 'admin', 'admin',CURRENT_TIMESTAMP);
		insert into orderList values(4, 4, 'admin', 'admin',CURRENT_TIMESTAMP);
	 -->
	<select id="selectUser" parameterType="hashmap" resultType="db.vo.UserVO" >
	    <if test="userType.equals('buyer')">
	        select * from buyer where id=#{id}
	    </if>
	    <if test="userType.equals('seller')">
	        select * from seller where id=#{id}
	    </if>
	</select>
	
	<insert id="insertUser" parameterType="db.vo.UserVO" >
	    <if test="userType.equals('buyer')">
	        insert into buyer values(#{id}, #{pw}, #{name}, #{phoneNumber})
	    </if>
	    <if test="userType.equals('seller')">
	        insert into seller values(#{id}, #{pw}, #{name}, #{phoneNumber})
	    </if>
	</insert>
	
	<select id="viewItemAsMap" parameterType="map" resultType="map" >
	    <if test="selectItem == 'trading'">
	        select * from detailItem_trading order by itemNumber
	    </if>
	    <if test="selectItem == 'charter'">
	        select * from detailItem_charter order by itemNumber
	    </if>
	    <if test="selectItem == 'monthlyRent'">
	        select * from detailItem_monthlyRent order by itemNumber
	    </if>
	    <if test="selectItem == 'land'">
	        select * from detailItem_land order by itemNumber
	    </if>
	</select>
	
	<!-- 
		List로 불러올때는 view의 속성과 프로퍼티 이름을 as~~ 하면서 맞춰주면
		결과행이 여러개라면 자동으로 리스트에 담아서 리턴해줌. ex) List<ItemVO>
		결과행이 하나라면 리스트에 담지않고 객체에 담아서 바로 리턴. ex) ItemVO
	 -->
	<select id="viewItemAsList" parameterType="map" resultType="db.vo.ItemVO" >
	    <if test="selectItem == 'trading'">
	        select * from detailItem_trading order by itemNumber
	    </if>
	    <if test="selectItem == 'charter'">
	        select * from detailItem_charter order by itemNumber
	    </if>
	    <if test="selectItem == 'monthlyRent'">
	        select * from detailItem_monthlyRent order by itemNumber
	    </if>
	    <if test="selectItem == 'land'">
	        select * from detailItem_land order by itemNumber
	    </if>
	</select>
	
	<select id="getRecentItemNumber" resultType='int' >
	    select itemNumber from item 
		order by itemNumber desc
		limit 1;
	</select>
	
	<!-- 
		여러개의 insert를 사용하려면
		DB 연결시 url에 파라미터로 allowMultiQueries=true 를 줘야함. 
	-->
	<insert id="addItem" parameterType="db.vo.ItemVO">
	    insert into item values(#{itemNumber}, #{address}, #{sellerID}, CURRENT_TIMESTAMP);
	    
	    <if test="selectItem == 'trading' || selectItem == '매매'">
	        insert into trading values(#{itemNumber}, #{sellerID}, #{price});
	    </if>
	    <if test="selectItem == 'charter' || selectItem == '전세'">
	        insert into charter values(#{itemNumber}, #{sellerID}, #{contractMonth}, #{price});
	    </if>
	    <if test="selectItem == 'monthlyRent' || selectItem == '월세'">
	        insert into monthlyRent values(#{itemNumber}, #{sellerID}, #{contractMonth}, #{deposit}, #{monthlyRentPrice});
	    </if>
	    <if test="selectItem == 'land' || selectItem == '토지'">
	        insert into land values(#{itemNumber}, #{sellerID}, #{SQM}, #{pricePerSQM});
	    </if>
	</insert>
	
	<delete id="deleteItem">
	    delete from item where itemNumber = #{itemNumber};
	</delete>
	<!-- 
	<insert id="addItemToDetail" parameterType="db.vo.ItemVO">
		<if test="selectItem == 'trading'">
	        insert into trading values(#{itemNumber}, #{sellerID}, #{price});
	    </if>
	    <if test="selectItem == 'charter'">
	        insert into charter values(#{itemNumber}, #{sellerID}, #{contractMonth}, #{price});
	    </if>
	    <if test="selectItem == 'monthlyRent'">
	        insert into monthlyRent values(#{itemNumber}, #{sellerID}, #{contractMonth}, #{deposit}, #{monthlyRentPrice});
	    </if>
	    <if test="selectItem == 'land'">
	        insert into land values(#{itemNumber}, #{sellerID}, #{SQM}, #{pricePerSQM});
	    </if>
	</insert>
	 -->
</mapper>