<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace는 mapper interface의 경로와 동일하게 해줘야 함. -->
<!-- 
private final String SELECTBUYER = "select * from buyer where id=?";
private final String SELECTSELLER = "select * from seller where id=?";
private final String INSERTBUYER = "insert into buyer values(?, ?, ?, ?)";
private final String INSERTSELLER = "insert into seller values(?, ?, ?, ?)";

private final String VIEW_TRADING = "select * from detailItem_trading order by itemNumber";
private final String VIEW_CHARTER = "select * from detailItem_charter order by itemNumber";
private final String VIEW_MONTHLYRENT = "select * from detailItem_monthlyRent order by itemNumber";
private final String VIEW_LAND = "select * from detailItem_land order by itemNumber";
 -->

<mapper namespace="db.mybatis.MybatisDAO">

	<select id="selectUser" parameterType="hashmap" resultType="db.vo.UserVO" >
	    <if test="userType.equals('buyer')">
	        select * from buyer where id=#{id}
	    </if>
	    <if test="userType.equals('seller')">
	        select * from seller where id=#{id}
	    </if>
	</select>
	
	<insert id="insertUser" parameterType="db.vo.UserVO" >
	    <if test="userType.equals('buyer')">
	        insert into buyer values(#{id}, #{pw}, #{name}, #{phoneNumber})
	    </if>
	    <if test="userType.equals('seller')">
	        insert into seller values(#{id}, #{pw}, #{name}, #{phoneNumber})
	    </if>
	</insert>
	
	<select id="viewItemAsMap" parameterType="string" resultType="map" >
	    select * from detailItem_trading order by itemNumber
	</select>
	
	<!-- List로 불러오려면 view의 속성과 프로퍼티 이름을 as~~ 하면서 맞춰야함 -->
	<select id="viewItemAsList" parameterType="string" resultType="db.vo.ItemVO" >
	    select * from detailItem_trading order by itemNumber
	</select>

</mapper>